/* Variables */

:root {
  --titleImageUrl: url("https://images.pexels.com/photos/209224/pexels-photo-209224.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  --gridHeight: 250px;
  --shadow: 0 3px 10px rgba(104, 104, 104, 0.3);
  --gridColor: #eeeaf2;
}

/* Main Styles */

.address {
  background-color: var(--gridColor);
  /* border: 3px solid #f1f1f1; */
  padding: 7%;
  text-align: left;
  font-size: 1.25rem;
  box-shadow: var(--shadow);
  font-family: "Red Hat Display";
}

.gridText {
  background-color: var(--gridColor);
  text-align: center;
  font-size: 1.5rem;
  padding: 2%;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  box-shadow: var(--shadow);
  font-family: "Roboto";
  word-wrap: break-word;
}

.gridImage {
  box-shadow: var(--shadow);
  width: 100%;
}

.titleText {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: relative;
  transform: translate(50%, -150%);
  width: 50%;
  padding: 20px;
  text-align: center;
  font-family: Bebas Neue;
}

.titleHeading {
  font-size: 3rem;
}

.titleSubHeading {
  font-size: 1.75rem;
  font-family: "Red Hat Display";
}

@media (min-width: 760px) and (max-width: 1000px) {
  .titleHeading {
    font-size: 3rem;
  }
  .titleSubHeading {
    font-size: 1.5rem;
  }
}

@media (max-width: 760px) {
  .titleHeading {
    font-size: 2.5rem;
  }
  .titleSubHeading {
    font-size: 1.2rem;
  }
}

.flexItem {
  width: 5rem;
  height: auto;
  margin: 1rem;
}

.flexItem img:hover {
  -webkit-transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
  transition: 0.5s ease;
}

/* Title, Home Page */

.titleImage {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  background-image: var(--titleImageUrl);
}

.navStyle {
  background-color: #ece0b4;
  box-shadow: var(--shadow);
}

.appointment {
  width: 100%;
  height: 1000px;
}

.title {
  background-color: #ece0b4;
}

.showMoreStyle {
  color: darkblue;
  text-align: right;
}
